/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #ececec1a;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 2px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
