@tailwind base;
@tailwind components;
@tailwind utilities;

/* scrollbar */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-track {
  background: #ececec1a;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 2px;
}

/* Auto Images Carousel */
@keyframes swipe {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes swipe-reverse {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-swipe {
  animation: swipe 20s linear infinite;
}

.animate-swipe-reverse {
  animation: swipe-reverse 20s linear infinite;
}

.insetShadow {
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
}

.section {
  position: relative;
  min-height: 100vh; /* Make sure each section takes at least the full viewport height */
}

.section.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

@layer base {
  .font-outline {
    -webkit-text-stroke: 0.5px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
}

@keyframes slide {
  to {
    transform: translateX(-86.5%);
  }
}

.logos-slide:hover {
  animation-play-state: paused;
}
.logos-slide2:hover {
  animation-play-state: paused;
}

.logos-slide {
  animation: 10s slide infinite linear;
}
.logos-slide2 {
  animation: 10s slide infinite linear reverse;
}

/* 640px + */
@keyframes slide-sm {
  to {
    transform: translateX(-90.5%);
  }
}

.logos-slide-sm:hover {
  animation-play-state: paused;
}
.logos-slide2-sm:hover {
  animation-play-state: paused;
}

.logos-slide-sm {
  animation: 15s slide-sm infinite linear;
}
.logos-slide2-sm {
  animation: 15s slide-sm infinite linear reverse;
}

/* 1024px + */

@keyframes slide-lg {
  to {
    transform: translateX(-124.5%);
  }
}

.logos-slide-lg:hover {
  animation-play-state: paused;
}
.logos-slide2-lg:hover {
  animation-play-state: paused;
}

.logos-slide-lg {
  animation: 15s slide-lg infinite linear;
}
.logos-slide2-lg {
  animation: 15s slide-lg infinite linear reverse;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}

.zig-float {
  animation: float 8s ease-in-out infinite;
}

@keyframes float-2 {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-10px);
  }
  100% {
    transform: translatey(0px);
  }
}

.zig-float-2 {
  animation: float-2 6s ease-in-out infinite;
}

.desktop-nav {
  background-color: aqua;
}
