.reveal__container {
  width: 100%;
  background: linear-gradient(
    90deg,
    rgba(37, 15, 61, 0.9) 0%,
    rgba(47, 21, 77, 0.9) 100%
  );
}
.reveal__container__title {
  min-height: 5rem;
  padding: 1.5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.reveal__container__title p {
  color: rgba(255, 255, 255, 0.9);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Moderat-Extended-Medium;
  font-size: 1.1rem;
  font-style: normal;
  line-height: 150%; /* 1.5rem */
}

.reveal__container__content {
  padding: 0rem;
  height: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: all 0.1s ease;
}

.reveal__container__content p {
  color: rgba(255, 255, 255, 0.75);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Moderat-Extended-Regular;
  font-size: 0.9375rem;
  font-style: normal;
  line-height: 150%; /* 1.40625rem */
}

.reveal__container__content.active {
  padding: 1rem 2rem;
  min-height: 6rem;
  height: 100%;
}

.caret {
  transition: all 0.1s ease;
}
.caret.active {
  transform: rotate(180deg);
}

/* Mobile */
@media screen and (max-width: 1024px) {
  .reveal__container__title p {
    font-size: 1rem;
  }
  .reveal__container__content p {
    font-size: 0.8125rem;
  }
  .reveal__container__content.active {
    padding: 1rem 1.5rem;
  }
}
